
.fixed-img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
}
#searchSuggestions .list-group-item {
    cursor: pointer;
}
#searchSuggestions .list-group-item:hover {
    background-color: #f8f9fa;
}

.centered-table {
    width: auto;
    margin: 0 auto;
    table-layout: auto;
}

